<!DOCTYPE html>
<html>
<head>
    
    <title>BrownCadbuss Hospitals</title>
   
  <link rel="stylesheet" href="/stylesheets/style3.css">
  </head>

<body>
<div class="container">
<div class="nav1">
<div class="hoslogo">

<img class="img0" src="/images/pngegg.png">
<span class="logow">BrownCadbuss <br> Hospitals</span>

</div>
<div class="nave">
<form action="/logout" method="post"> 
  <input type="submit" value="logout"> 
</form> 
  
</div>


</div>
<nav>
  <ul>
    <li>
      <div class="home-icon"><a href="/dashboard">
        <div class="roof">
          <div class="roof-edge"></div>
        </div>
        <div class="front"></div></a>
      </div>
    </li>
    <li>
      <div class="about-icon">
        <div class="head">
          <div class="eyes"></div>
          <div class="beard"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="work-icon"><a href="/bookappointments">
        <div class="paper"></div>
        <div class="lines"></div>
        <div class="lines"> </div>
        <div class="lines"></div></a>
      </div>
    </li>
    <li>
      <div class="mail-icon"><a href="myappointments">
        <div class="mail-base">
          <div class="mail-top"></div></a>
        </div>
      </div>
    </li>
  </ul>
</nav>


<div class="formcontainerbook">
 

<form action="/bookappointments" method="post">
  

  <div class="container2book">
  <div class="fs-fit">
<div class="fs-field">
    <label for="specialty" class="label2"><b>Specialty</b></label>
    <select id="specialty" placeholder="Select Specialty" name="specialty" class="input2">
    <option value="select">select</option>
    <option value="Dermatology(Skin)">Dermatology(Skin)</option>
    <option value="Dentistry(Teeth)">Dentistry(Teeth)</option>
    <option value="Psychiatry(mental)">Psychiatry(mental)</option>
    <option value="Neurology(Brain)">Neurology(Brain)</option>
    <option value="Orthopedics(Bones)">Orthopedics(Bones)</option>
    <option value="Gynaecology(Fertility)">Gynaecology(Fertility)</option>
    <option value="Cardiology(Heart)">Cardiology(Heart)</option>
</select>
</div>
<div class="fs-field1">
    <label for="insurance" class="label2"><b>Insurance</b></label>
    <select id="insurance" placeholder="Select Insurance" name="insurance" class="input2">
    <option value="select">select</option>
    <option value="yes">Yes</option>
    <option value="nil">Nil</option>

</select>
</div>
</div>
<div class="fs-fit1">
<div class="fs-field2">
    <label for="hosnum" class="label2"><b>Hos Number</b></label>
    <input type="text" placeholder="Enter Hospital Number" name="hosnum" class="input2">
</div>
<div class="fs-field3">
    <label for="doctor" class="label2"><b>Select Doctor</b></label>
    <select id="doctor" placeholder="Select Doctor" name="doctor" class="input2">
    <option value="select">select</option>
    <option value="mike">mike</option>
    <option value="johnson">johnson</option>
    <option value="brian">brian</option>
    <option value="divine">divine</option>
    <option value="job">job</option>
</select>

</div>
</div>

<div class="fs-field6">  
    <button type="submit" class="but1">Book Appointment</button>
    </div>
    
  </div>

  
</form>
</div>


<div class="navfoot2">
  
</div>
</div>



</div>

</body>
</html>


